<app-blank title="İş Yerleri" [navs]="navs">

  <!-- Ekleme İşlemi -->
  <app-section sectionTitle="Hesap Planı Ekleme Formu" *ngIf="isAddForm">
    <!-- AutoComplete:Off demek daha önce yazdıklarımı hatırlama -->
    <form #addForm="ngForm" autocomplete="off" (ngSubmit)="create(addForm)">
      <div class="row">
        <div class="col-md-2">
          <label for="code">İş YeriKodu</label>
          <input ngModel type="text" #chainCode name="chainCode" required minlength="3" class="form-control"
            [validInput]="chainCode.validity.valid">
          <div class="invalid-feedback">
            İş Yeri Kodu Alanı en az 3 karakter olmalıdır!
          </div>
        </div>
        <div class="col-md-2">
          <label for="code">Vergi Dairesi</label>
          <input ngModel type="text" #taxAdministration name="taxAdministration"  class="form-control"
            [validInput]="taxAdministration.validity.valid">
        </div>
        <div class="col-md-2">
          <label for="code">Ticaret Odası</label>
          <input ngModel type="text" #chamberOfCommerce name="chamberOfCommerce"  class="form-control"
            [validInput]="chamberOfCommerce.validity.valid">
        </div>
        <div class="col-md-2">
          <label for="code">Kimlik Tipi</label>
          <input ngModel type="text" #idType name="idType"  class="form-control"
            [validInput]="idType.validity.valid">
        </div>

        <div class="col-md-3">
          <label>İşlemler</label>
          <app-loading-button [form]="addForm" btnName="Kaydet" btnLoadingDescription="Kaydedliliyor...">
          </app-loading-button>
        </div>
        <div class="col-md-12">
          <button class="btn btn-outline-danger w-100" (click)="cancel()">Vazgeç</button>
        </div>
      </div>
    </form>
  </app-section>
  <!-- Ekleme İşlemi -->
  
  <!-- İşYeriListesi -->
  <app-section sectionTitle="İş Yerleri Listesi">
    <div class="form-group">
      <button class="btn btn-outline-primary mx-1" (click)="getAll()">
        <i class="fa fa-rotate"></i>
        Yenile
      </button>
      <button class="btn btn-outline-primary mx-1">
        <span class="spinner-border spinner-border-sm"></span>
        Otomatik yenilemede...
      </button>
    </div>
    <div class="form-group">
      <table class="table table-bordered">
        <thead>
          <tr style="background-color: #f1f1f1;">
            <th>İş Yeri Kodu</th>
            <th>Vergi Dairesi</th>
            <th>Ticaret Odası</th>
            <th>Kimlik Tipi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let chain of data.items  let index=index">
            <!-- <td>{{((index + ((pageNumber -1) * pageSize)) + 1)}}</td> -->
            <td [innerText]="chain.chainCode"></td>
            <td [innerText]="chain.chamberOfCommerce"></td>
            <td [innerText]="chain.idType"></td>
            <td [innerText]="chain.taxAdministration"></td>

          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link">
                  {{currentPageNo}}/{{totalPageCount}}
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" [routerLink]="['/chains', currentPageNo - 1 <= 0 ? 1 : currentPageNo - 1]">
                  Önceki
                </a>
              </li>
              <li class="page-item" *ngFor="let pageNo of pageList;" routerLinkActive="active">
                <a class="page-link" [routerLink]="['/chains', (pageNo !== null && pageNo !== undefined) ? pageNo : 1]">
                  {{ (pageNo !== null && pageNo !== undefined) ? pageNo : 1 }}
                </a>
              </li>
              <li class="page-item">
                <a class="page-link"
                  [routerLink]="['/chains', currentPageNo + 1 >= totalPageCount ? totalPageCount : currentPageNo + 1]">
                  Sonraki
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </app-section>
  <!-- İşYeriListesi -->

  
</app-blank>



<div class="modal fade" id="createModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">İş Yeri Oluştur</h5>
        <button type="button" class="close" id="createModelCloseBtn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #createForm="ngForm" (ngSubmit)="create(createForm)">
        <div class="modal-body">
          <div class="form-group mt-1">
            <label for="description">İş Yeri Kodu</label>
            <input type="text" class="form-control" #chainCode name="chainCode" id="chainCode" ngModel required
              minlength="3" [validInput]="chainCode.validity.valid">
            <div class="invalid-feedback">
              Açıklama alanı en az 3 karakter olmalıdır!
            </div>
          </div>
          <div class="form-group mt-1">
            <label for="description">Vergi Dairesi</label>
            <input type="text" class="form-control" #taxAdministration name="taxAdministration" id="taxAdministration"
              ngModel required [validInput]="taxAdministration.validity.valid">
            <div class="invalid-feedback">
              Açıklama alanı en az 3 karakter olmalıdır!
            </div>
          </div>
          <div class="form-group mt-1">
            <label for="description">Ticaret Odası</label>
            <input type="text" class="form-control" #chamberOfCommerce name="chamberOfCommerce" id="chamberOfCommerce"
              ngModel required [validInput]="chamberOfCommerce.validity.valid">
          </div>
          <div class="form-group mt-1">
            <label for="description">Kimlik Tipi</label>
            <input type="text" class="form-control" #idType name="idType" id="idType" ngModel required
              [validInput]="idType.validity.valid">
          </div>
          <div class="form-group mt-1">
            <app-loading-button btnName="İş Yeri Oluştur" btnClass="btn btn-primary"
              btnLoadingDescription="Oluşturuluyor..." btnLoadingClass="btn btn-outline-primary" [form]="createForm">
            </app-loading-button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        </div>
      </form>
    </div>
  </div>
</div>